@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background text-gray-100;
  }

  body {
    @apply bg-background text-gray-100 antialiased;
      margin: 0;
      padding: 0;
  }

  a {
    @apply text-primary hover:text-secondary;
  }
}

/* ✅ Custom Animation for Fade-Up Reveal */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

